body {
    font-family: "Roboto", "sans-serif";
    font-size: 16px;
    color: #2b283a;
    margin: 0;
}

/* typogrophy */

h1 {
    font-size: 36px;
    color: whitesmoke;
    margin: 0;
}

h2 {
    font-size: 24px;
    margin-top: 0;
}

h3 {
    font-size: 20px;
    color: #d0aaff;
    margin: 0;
}

/* links */

a {
    color: #ef5839;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

a:hover {
    color: #d4b44c;
}

a:active {
    color: #d4b44c;
}

/* layout */

header {
    background-color: #5f29a3;
    padding: 45px 0px;
}

section {
    padding: 45px 0px;
}

.section-two{
    background-color: #5f29a3;
    color: whitesmoke;
}

.container {
    width: 620px;
    margin: 0 auto;
}

.sneakerImg{ 
    width: 100%;
}

.img-container{
    display: flex;
    justify-content: space-between;
}

.img{
    width: 300px;
    border-radius: 4.6px;
}



